.flexBox{
    display:flex;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    
    flex-wrap: wrap;
}
.flexItem{
    border: 1px solid red;
    font-size:4em;
    line-height: 2em;
    background-color:yellow;
    border-radius: 1.5em 1.5em 1.5em 1.5em; 
    width: 300px;
    justify-content: center;
    align-self: center;
    text-align: center;   
}
.talepkutusu{
    transition: width 2s;
    transition-timing-function: ease-in;
    /* visibility: visible */
}
.kaybol{
    /* visibility: hidden */
    width:0px;
}